<script setup>
// import { reactive, ref } from 'vue'
</script>

<template>
    <div class="wrapper">
        <nav>
            <a href="javascript:;">注册用户</a>
        </nav>
        <el-form label-width="120px">
            <el-form-item label="用户名：">
                <el-input style="width: 200px;" type="password" show-password />
            </el-form-item>
            <el-form-item label="密码：">
                <el-input style="width: 200px;" type="password" show-password />
            </el-form-item>
            <el-form-item label="确认密码：">
                <el-input style="width: 200px;" type="password" show-password />
            </el-form-item>
            <el-form-item label="姓名：">
                <el-input style="width: 200px;" type="password" show-password />
            </el-form-item>
            <el-form-item label="性别：">
                <el-radio-group>
                    <el-radio label="1">男</el-radio>
                    <el-radio label="0">女</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="联系电话：">
                <el-input style="width: 200px;" type="password" show-password />
            </el-form-item>
            <el-form-item label="电子邮箱：">
                <el-input style="width: 200px;" type="password" show-password />
            </el-form-item>
            <el-form-item>
                <el-button type="primary">提交注册</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<style scoped lang='scss'>
.wrapper {
    width: 380px;
    position: absolute;
    left: 30%;
    top: 25%;
    transform: translate3d(100px, 0, 0);

    nav {
        font-size: 14px;
        height: 55px;
        margin-bottom: 20px;
        border-bottom: 1px solid #f5f5f5;
        display: flex;
        padding: 0 40px;
        text-align: right;
        align-items: center;

        a {
            flex: 1;
            line-height: 1;
            display: inline-block;
            font-size: 18px;
            position: relative;
            text-align: center;
        }
    }

    .subBtn {
        margin-left: 80px;
    }

    .regBtn {
        margin-left: 20px;
    }
}
</style>
