<script setup>
// import { reactive, ref } from 'vue'
</script>

<template>
    <section class="login-section">
        <div class="wrapper">
            <nav>
                <a href="javascript:;">账户登录</a>
            </nav>
            <div class="account-box">
                <div class="form">
                    <el-form label-width="60px">
                        <el-form-item label="账户">
                            <el-input clearable />
                        </el-form-item>
                        <el-form-item label="密码">
                            <el-input type="password" show-password />
                        </el-form-item>
                        <el-form-item>
                            <el-button size="large" class="subBtn" type="primary">登录</el-button>
                            <el-link href="/" size="small" class="regBtn" type="primary">注册</el-link>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
    </section>
</template>

<style scoped lang='scss'>
.login-section {
    background: url('../../assets/images/bg.jpg') no-repeat center / cover;
    height: 690px;
    position: relative;

    .wrapper {
        width: 380px;
        position: absolute;
        left: 30%;
        top: 25%;
        transform: translate3d(100px, 0, 0);

        nav {
            font-size: 14px;
            height: 55px;
            margin-bottom: 20px;
            border-bottom: 1px solid #f5f5f5;
            display: flex;
            padding: 0 40px;
            text-align: right;
            align-items: center;

            a {
                flex: 1;
                line-height: 1;
                display: inline-block;
                font-size: 18px;
                position: relative;
                text-align: center;
            }
        }

        .subBtn {
            margin-left: 80px;
        }

        .regBtn {
            margin-left: 20px;
        }
    }
}
</style>
