<template>
    <div class="common-layout">
        <el-container class="container">
            <el-aside width="200px">Aside</el-aside>
            <el-container>
                <el-header class="header">Header</el-header>
                <el-main class="main">Main</el-main>
            </el-container>
        </el-container>
    </div>
</template>

<style lang="scss" scoped>
.container {
    width: 100%;
    height: 695px;
    background-color: lightpink;

    .header {
        height: 60px;
        background-color: lightcoral;
    }

    .main {
        background-color: lightblue;
    }
}
</style>